.div1{
    background-color: #00bfff;
    opacity: 0.4;
    <!--  Rgba wpływa tylko na kolor tła, natomiast opacity wpływa na wszystkie elemenety w divie   -->
}
.div2{
  background: rgba(150,207,223,1);
background: -moz-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(117,189,209,1) 60%, rgba(78,168,193,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,207,223,1)), color-stop(60%, rgba(117,189,209,1)), color-stop(100%, rgba(78,168,193,1)));
background: -webkit-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(117,189,209,1) 60%, rgba(78,168,193,1) 100%);
background: -o-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(117,189,209,1) 60%, rgba(78,168,193,1) 100%);
background: -ms-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(117,189,209,1) 60%, rgba(78,168,193,1) 100%);
background: linear-gradient(to bottom, rgba(150,207,223,1) 0%, rgba(117,189,209,1) 60%, rgba(78,168,193,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cfdf', endColorstr='#4ea8c1', GradientType=0 );
}
.div3{
  background-image: url('../images/passport.jpg');
  width: 925px;
  height: 617px;
}
.div4{
  background-image: url('../images/passport.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.div5{
  background-image: url('../images/passport.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 925px;
  height: 617px;
}
